body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  letter-spacing: 1px;
}
/* nav bar */

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

h1 {
  padding: 20px;
  font-size: 25px;
}

.active {
  color: black;
   font-weight: bold;
}

.mySwiper {
  width: 100% !important;
  height: 600px !important;
  margin: 50px 0px;
}
.mySwiper img {
  width: 100%;
  height: 600px !important;
  cursor: grab;
}

.card {
  min-width: 250px !important;
  height: 450px !important;
  margin: 0px 5px !important;
}
/* Detlse */

.card-img-top {
  margin-top: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 200px !important;
  height: 200px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card-img-top:hover {
  transform: scale(1.1); /* تكبير الصورة عند الهوفر */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* إضافة ظل */
}




.d {
  color: white !important;
}

.formx {
  height: 300px !important;
}

.desc {
  width: 100%;
  height: 50px !important;
  font-weight: bold;
  color: rgb(57, 57, 57);
}

.car {
  margin-top: 100px !important;
}

  .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.444);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}  

.containerr:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.UP {
  position: fixed;
  right: 20px;
  top: 80vh;
  border-radius: 50% !important;
  background-color: #04657d !important;
}

.Detl {
  box-shadow: 1px 2px 5px 2px rgb(210, 209, 207);
  border: solid 2px rgb(219, 216, 216);
  border-radius: 10px;
}

/* Slidarrrr */

.slide-content {
  position: relative;
  width: 100%;
}

/* .slide-content img {
  width: 100%;
  height: auto;
} */

.caption {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(255, 255, 255, 0.5); */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 45px;
  width: 50%;
  font-family:unset;
  /* height: 700px !important; */
}


@media (max-width: 500px) {
  .caption {
    bottom: 20px;
    width: 100%;
  }
  }


.oferimg {
  width: 90%;
  height: auto;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 100px;
  border-radius: 10px;
}
