body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  letter-spacing: 1px;
}
/* nav bar */

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

h1 {
  padding: 20px;
  font-size: 25px;
}
.nav-link{
  font-weight: 600 !important;

}

.active {
  color: black;
   font-weight: bold;
}

.mySwiper {
  width: 100% !important;
  height: 600px !important;
  margin: 50px 0px;
}
.mySwiper img {
  width: 100%;
  height: 600px !important;
  cursor: grab;
}

.card {
  min-width: 250px !important;
  height: 450px !important;
  margin: 0px 5px !important;
}
/* Detlse */

.card-img-top {
  margin-top: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 200px !important;
  height: 200px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


 



.d {
  color: white !important;
}

.formx {
  height: 300px !important;
}

.desc {
  font-size: large;
  width: 100%;
  height: 30px !important;
  font-weight:500;
  color: rgb(103, 103, 103);
}
.card-text{
  font-size: large;
  width: 100%;
  height: 30px !important;
  font-weight:500;
  color: rgb(155, 155, 155);
}
.car {
  margin-top: 100px !important;
}

 
 
 

.UP {
  position: fixed;
  right: 20px;
  bottom: 10vh;
  border-radius: 50% !important;
  width: 40px;
  height:40px;
  background-color: #6d9eaa !important;
}

.Detailse {
  box-shadow: 1px 2px 5px 2px rgb(210, 209, 207);
  border: solid 2px rgb(219, 216, 216);
  border-radius: 10px;
  /* /* width: 90%; */
  align-items: center;
  min-height: 500px;
  margin: 30px;
  margin-top: 15%;  
}
 
 


.oferimg {
  border-radius: 10px;
  display: block;
}
.info-product{
margin-top: 5%;
margin-left: 2%;

  width: 100%;
  height: 300px;
  



}