  
    
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');

  * {
    font-family: "Special Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
  }
 
/* nav bar */

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

h1 {
  padding: 20px;
  font-size: 25px;
}
.nav-link {
  color: rgb(74, 74, 74);
  font-weight: bolder;
  font-size: 17px;
}

.active {
  color: black;
  font-size: 20px;
}

.card {
  min-width: 250px !important;
  height: 450px !important;
  margin: 0px 5px !important;
}
/* Detlse */

.card-img-top {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  height: 250px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.d {
  color: white !important;
}

.formx {
  height: 300px !important;
}

.desc {
  font-size: 17px;
  width: 100%;
  height: 30px !important;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.card-text {
  font-size: 11px !important;
  width: 100%;
  height: 30px !important;
  font-weight: 100;
  color: rgb(155, 155, 155);
}
.car {
  margin-top: 100px !important;
}

.UP {
  position: fixed;
  right: 20px;
  bottom: 10vh;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;

  background-color: gray !important;
  color: #fff !important;
}

.Detailse {
  box-shadow: 1px 2px 5px 2px rgb(210, 209, 207);
  border: solid 2px rgb(219, 216, 216);
  border-radius: 10px;
  /* /* width: 90%; */
  align-items: center;
  min-height: 500px;
  margin: 30px;
  margin-top: 15%;
}

.oferimg {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-height: 300px;
}

.info-product {
  margin: 10% 0 5% 0;
  padding: 0 10px;
  width: 90%;
}

.product-title {
  font-size: 2rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .product-title {
    font-size: 1.5rem;
  }

  .info-product {
    margin-top: 20%;
  }

  .oferimg {
    height: 100px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .product-title {
    font-size: 3rem;
  }
}
